    .nav-item{
    padding: 2px;
    font-size: large;
    }
    
    .btn-dark{
        width: 100%;
    }
    
    .mapa{
        width: 100%;
        
    }
    
    .mb-3, input{
        text-align: center;
    }
    

    .nav-list {
        text-align: center;
        
     }

     .nav-list-2{
        display: flex;
        justify-content: space-evenly;
        padding-bottom: 60px;
        padding-top: 60px;
        }

    

    .navbar{
    background-color: $colorprimario;
    }